node_modules



.nx/cache
.nx/workspace-data
.nx/migrate-runs
.angular

__screenshots__/

node_modules/
dist/
tmp/
.nx/
.angular/
coverage/
playwright-report/
test-results/

.env
.env.*
!.env.example

*.log
.DS_Store
